body {
  padding: 0;
  margin: 0;
  color: rgba(255,255,255,1);
  background-color: #978eff;
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/*#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  background-color: #978eff;
  background-image: url('../img/space-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  z-index: -1;
}*/

.dorothy-ball {
  position: fixed;
  bottom: 50%;
  left: 50%;
  /*transform: translateX(-50%) translateY(-50%);*/
  width: 200px;
  height: 200px;
  /*background-color: #fff;*/
  border-radius: 100%;
  z-index: 10;
  cursor: pointer;
  /*box-shadow: inset 30px -10px 60px 5px #56cbf9, 0px 0px 100px 0px #6896b5;*/
  /*box-shadow: inset 80px -10px 100px 5px #56cbf9, -40px -10px 100px -40px #6896b5;*/ /* Either this */
  box-shadow: inset 80px -10px 100px 5px #56cbf9, 0px 0px 100px -20px #abddff; /* Or this */
  opacity: 0; /* ------------ toggle maybe ------------ */
  transition: box-shadow ease 0.5s;
}
.dorothy-ball:hover {
  box-shadow: inset -80px -10px 100px 5px #56cbf9, 40px -10px 100px -40px #6896b5;
}

.ball-menu {
  width: 350px;
  height: 130px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /*border: 1px solid white;*/
  z-index: 1;
}

.ball-menu-item {
  width: 50px;
  height: 50px;
  background-color: #56cbf9;
  border-radius: 100%;
  position: absolute;
  z-index: 5;
  /*display: none;*/
  transition: background-color ease 0.3s;
}
.ball-menu-item:hover {
  background-color: #232323;
}
.ball-menu-item i {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 25px;
}
.ball-menu-item.menu-terminal {
  top: 60px;
  left: 0;
  cursor: pointer;
}
.ball-menu-item.menu-profile {
  top: 0;
  left: 87.5px;
  cursor: pointer;
}
.ball-menu-item.menu-info {
  top: 0;
  right: 87.5px;
  cursor: pointer;
}
.ball-menu-item.menu-calendar {
  top: 60px;
  right: 0;
  background-color: lightgrey !important;
}

.ball-menu-item-label {
  height: 70px;
  width: 100px;
  font-weight: 300;
  text-align: center;
  position: absolute;
  transition: opacity ease 0.3s;
}
.ball-menu-item-label.terminal-label {
  opacity: 0;
}
.ball-menu-item-label.profile-label {
  opacity: 0;
}
.ball-menu-item-label.info-label {
  opacity: 0;
}
.ball-menu-item-label.calendar-label {
  opacity: 0;
}

.ball-menu-item-label.terminal-label {
  top: 30px;
  left: -25px;
}
.ball-menu-item-label.profile-label {
  top: -30px;
  left: 62px;
}
.ball-menu-item-label.info-label {
  top: -30px;
  right: 62px;
}
.ball-menu-item-label.calendar-label {
  top: 30px;
  right: -25px;
}

.menu-terminal:hover + .terminal-label {
  opacity: 1;
}
.menu-profile:hover + .profile-label {
  opacity: 1;
}
.menu-info:hover + .info-label {
  opacity: 1;
}
.menu-calendar:hover + .calendar-label {
  opacity: 1;
}


/*
----------------------------------------------------------------------
WELCOME MESSAGE
----------------------------------------------------------------------
*/

.welcome-message-style {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-width: 600px;
  cursor: pointer;
  /*display: none;*/
  opacity: 0;
  transition: opacity ease 0.5s, color ease 0.3s;
}
.welcome-message-style h1 {
  font-weight: 100;
  font-size: 25px;
}
.welcome-message-style:hover {
  color: lightgrey;
}


/*
----------------------------------------------------------------------
EYE (MOUSE TRACKING & AUTO ANIMATION)
----------------------------------------------------------------------
*/









/*
//////////////////////////////////////////////////////////////////////
MIKEY
//////////////////////////////////////////////////////////////////////
*/




/*Contain particle (background-animation.js)*/
#canvas {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/*Box windows Terminal*/
.terminal {
  position: fixed;
  bottom: -100%; /*hide the box before the animation*/
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgba(30, 60, 90, 0.6); to test aspect terminal #0C0221 */
  /*background-color: #57759f9e;*/
  width: 75%;  /*default ratio to keep*/
  height: 80%;  /*Change the height to resize the box or proceed to animation*/
  border-top-left-radius: 10px;  /*Header of the terminal radius border set to 10px*/
  border-top-right-radius: 10px;
  /*margin-left: 22.5vw;
  margin-right: 22.5vw;*/
  /*top: 700px;  Push by default the terminal on a middle position*/
  /*box-shadow: inset 0px 40px 15px 0px #0D1321;*/
  transition: width ease 0.2s, margin ease 0.2s, top ease 0.2s;
  z-index: 0;
  font-weight: 300;
  font-size: 18px;
}

/*White bar on top of the Terminal*/
.terminal-header {
  /*background-color: #a0b8d8;*/
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*Terminal-button container*/
.terminal-header-btn {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  margin-right: 0px;
  display: none;
}
/*Terminal-button container*/
.terminal-header-item {
  position: absolute;
  display: inline;
  padding-top: 8px;
  padding-right: 0px;
  right: 10px;
}

#window-name {
  position: absolute;
  font-size: 18px;
  margin-left: 15px;
  margin-top: 5px;
  color: #0D1321;
}

.minimize { /*Minimize button*/
  background-color: orange;
  box-shadow: inset 0px 0px 5px 2px #E8600C;
}

.maximize { /*Maximize button*/
  background-color: #2C9DC9; /* If minimize active set to green */
  box-shadow: inset 0px 0px 5px 2px #000F42;
}

.close {  /*Close button*/
  background-color: red;
  box-shadow: inset 0px 0px 5px 2px #2B030F;
}

.fa-terminal {
  position: absolute;
  color: black;
  left: 5px;
  bottom: 9px;
}

/*------------------------
button hover state
--------------------------*/

.minimize:hover {
  background-color: lightyellow;
}

.maximize:hover {
  background-color: lightblue; /*if minimize active set to lightgreen */
}

.close:hover {
  background-color: orange;
}

button {
  border-width: 0px;
  border-style: none;
}

button:focus {  /* Avoid blue line on click by default on custom button in Crome*/
  outline: 0;
}

/*-------------------------------------
Terminal Content
---------------------------------------*/

.terminal-content { /*Container for content (input / output display*/
    padding: 0px 15px 0px 15px;
    min-height: 45vh;
    max-height: 45vh;
    overflow: auto;     Hide the scroll bar after multiple request*/
}
.terminal-content .message {
    display: none;
}
@media screen and (min-width: 640px) {
  .terminal-content .message {
    display: block;
  }
}

/*--------------------------------------
Custom scroll
----------------------------------------*/
.customScroll {
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.5);
}

/*--------------------------------------
Terminal interaction /Text/
----------------------------------------*/

.instruction {
    padding-bottom:10px;
}

.request {
  padding-left: 20px;
}
.user-request:first-type{
  display: none;
}
.user-request .user {
    display: inline-block;
    color: rgba(255,66,64,1); /* #ff4240 */
}
.user-request .symbol {
    display: inline-block;
    margin:0px 6px 0px 2px;
}
.answer {
    color:rgba(215,215,215,1);
    margin-top: 15px;
}
.answer a {
    color:rgba(215,215,215,1);
}
.answer a:hover {
    color:rgba(215,215,0,1);
}
.answer::before {
    content:'>';
    display: inline-block;
    padding-right: 5px;
}
.user-request .user-input {
    min-width: 10px;
    display: inline-block;
}
.user-request .user-input:focus {
    outline: 0px;
}
.user-request .terminal-symbol {
    font-size: 120%;
    font-weight: bold;
    animation: blink .5s ease-in-out;
    animation-iteration-count: infinite;
}
.terminal-control {
  margin-left: 20px;
}

/*----------------------------------------
Os-bar
------------------------------------------*/

.os-bar {
  text-align: right;
  font-size: 22px;
  position: fixed;
  display: block;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  padding:7px 0px;
  top: 10px;
  color:rgba(255,255,255,.9);
  /*background-color: rgba(39,64,96,.5);*/
  border-radius: 10px;
}

.os-bar__windows-item {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 25px;
  width:20%;
  max-width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 2px;
  color:rgba(255,255,255,1);
  margin:0px 5px;
}

.os-bar__date-time {
  position: absolute;
  display: block;
  justify-content: left;
  align-items: left;
  right: 50px;
  width:120px;
  height: 100%;
  text-align: left;
  font-size: 1em;
  font-weight: 100;
}

/*---------------------------------------
Keyframes for animation
-----------------------------------------*/

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
