body {
  padding: 0;
  margin: 0;
  color: rgba(255,255,255,1);
  background-color: #978eff;
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.hiding-bg-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /*background-color: red;*/
  z-index: 11;
  display: none;
}

/*#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  background-color: #978eff;
  background-image: url('../img/space-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  z-index: -1;
}*/

.dorothy-ball {
  position: fixed;
  bottom: 50%;
  left: 50%;
  /*transform: translateX(-50%) translateY(-50%);*/
  width: 200px;
  height: 200px;
  /*background-color: #fff;*/
  border-radius: 100%;
  z-index: 10;
  cursor: pointer;
  /*box-shadow: inset 30px -10px 60px 5px #56cbf9, 0px 0px 100px 0px #6896b5;*/
  /*box-shadow: inset 80px -10px 100px 5px #56cbf9, -40px -10px 100px -40px #6896b5;*/ /* Either this */
  box-shadow: inset 80px -10px 100px 5px #56cbf9, 0px 0px 100px -20px #abddff; /* Or this */
  opacity: 0; /* ------------ toggle maybe ------------ */
  transition: box-shadow ease 0.5s;
}
.dorothy-ball:hover {
  box-shadow: inset -80px -10px 100px 5px #56cbf9, 40px -10px 100px -40px #6896b5;
}

.ball-menu {
  width: 350px;
  height: 130px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /*border: 1px solid white;*/
  z-index: 1;
}

.ball-menu-item {
  width: 50px;
  height: 50px;
  background-color: #56cbf9;
  border-radius: 100%;
  position: absolute;
  z-index: 5;
  /*display: none;*/
  transition: background-color ease 0.3s;
}
.ball-menu-item:hover {
  background-color: #232323;
}
.ball-menu-item i {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 20px;
  color: white;
}
.ball-menu-item.menu-terminal {
  top: 60px;
  left: 0;
  cursor: pointer;
}
.ball-menu-item.menu-profile {
  top: 0;
  left: 87.5px;
  cursor: pointer;
}
.ball-menu-item.menu-info {
  top: 0;
  right: 87.5px;
  cursor: pointer;
}
.ball-menu-item.menu-calendar {
  top: 60px;
  right: 0;
  background-color: lightgrey !important;
}

.ball-menu-item-label {
  height: 70px;
  width: 100px;
  font-weight: 300;
  text-align: center;
  position: absolute;
  transition: opacity ease 0.3s;
}
.ball-menu-item-label.terminal-label {
  opacity: 0;
}
.ball-menu-item-label.profile-label {
  opacity: 0;
}
.ball-menu-item-label.info-label {
  opacity: 0;
}
.ball-menu-item-label.calendar-label {
  opacity: 0;
}

.ball-menu-item-label.terminal-label {
  top: 30px;
  left: -25px;
}
.ball-menu-item-label.profile-label {
  top: -30px;
  left: 62px;
}
.ball-menu-item-label.info-label {
  top: -30px;
  right: 62px;
}
.ball-menu-item-label.calendar-label {
  top: 30px;
  right: -25px;
}

.menu-terminal:hover + .terminal-label {
  opacity: 1;
}
.menu-profile:hover + .profile-label {
  opacity: 1;
}
.menu-info:hover + .info-label {
  opacity: 1;
}
.menu-calendar:hover + .calendar-label {
  opacity: 1;
}


/*
----------------------------------------------------------------------
WELCOME MESSAGE
----------------------------------------------------------------------
*/

.welcome-message-style {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-width: 600px;
  cursor: pointer;
  /*display: none;*/
  opacity: 0;
  transition: opacity ease 0.5s, color ease 0.3s;
}
.welcome-message-style h1 {
  font-weight: 100;
  font-size: 25px;
}
.welcome-message-style:hover {
  color: lightgrey;
}


/*
----------------------------------------------------------------------
EYE (MOUSE TRACKING & AUTO ANIMATION)
----------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------
MODALS
----------------------------------------------------------------------
*/

#answerTemplate {
  width: 90%;
  height: 80%;
  position: fixed;
  /*padding-right: 40px;*/
  padding: 25px 40px 10px 0;
  top: 50%;
  /*right: -20px;*/
  right: -100%;
  transform: translateY(-50%);
  background-color: rgba(38, 38, 38, 0.78);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -1px 1px 80px -20px #0D1321;
  transition: right ease 0.5s;
  z-index: 12;
}

#profilePage { /* PROFILE */
  /*width: 90%;*/
  /*height: 80%;*/
  width: 65%; /* MIKEY */
  height: 65%; /* MIKEY */
  position: fixed;
  /*padding: 25px 40px 10px 0;*/ /* TOGGLE */
  /*top: -120%;*/ /* hides the profile modal */
  top: 0; /* shows the profile modal */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -1px 1px 120px -30px #0D1321;
  transition: top ease 0.5s;
  z-index: 12;
}

.modal-container {
  display: flex;
  color: white;
}
.modal-container-2 { /* PROFILE */
  display: flex;
  flex-direction: column;
  color: #232323;
}
.modal-header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  height: 100%;
  width: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.modal-header-2 { /* PROFILE */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /*left: 0;*/
  height: 30px;
  width: 100%;
  bottom: 0;
  /*height: 100%;*/
  /*width: 30px;*/
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* CHECK WHAT BELOW DOES
.modal-header-2 {  PROFILE MIKEY
 -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 47%;
  top: 47%;
}
*/
.modal-header .modal-close-btn {
  height: 50px;
  width: 6px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
}
.modal-header-2 .modal-close-btn-2 { /* PROFILE */
  height: 6px;
  width: 50px;
  background-color: #232323;
  border-radius: 50px;
  cursor: pointer;
}
.modal-body {
  position: fixed;
  right: 60px;
  height: 90%;
  margin-left: 50px;
  overflow: auto;
  /*background-color: #57759f9e;*/
}
.modal-body-2 { /* PROFILE */
  position: fixed;
  height: 100%;
  width: 80%;
  max-width: 28rem;
  /*top: 30%;*/
  left: 50%;
  /*transform: translate(-50%, -30%);*/
  transform: translateX(-50%);
  overflow: auto;
  /*background-color: #57759f9e;*/
}
.modal-body-title {
  font-size: 2rem;
  font-weight: 300;
}
.modal-body-block {
  width: 90%;
}
.modal-body-block-title {
  font-weight: 300;
}
.modal-body-block-content {
  font-weight: 100;
  font-size: 0.85rem;
  line-height: 1.5;
}

.modal-body-title-container { /* PROFILE MIKEY */
  display: flex;
  justify-content: space-between;
}


.modal-body-title-title {  /* PROFILE MIKEY */
  width: 80%;
}

.modal-body-title-icons { /* PROFILE MIKEY */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  /*margin-left: 5em;*/
  color: black;
}
.profile-details { /* PROFILE MIKEY */
  /*display: inline-grid;*/
  display: flex;
  flex-direction: column;
}
.profile-lastname, .profile-firstname, .profile-language { /* PROFILE MIKEY */
  margin-bottom: 1em;
  background: transparent;  /*hide background from input*/
  border: none; /*No border on input*/
  outline: none;
}
.profile-lastname, .profile-firstname { /* PROFILE MIKEY */
  box-shadow: 0px 1px 0px gray;
  background: transparent;
  float: right;
  right: 0px;
  margin-left: 2em;
  border: none;
}
.profile-github, .profile-linkedin { /* PROFILE MIKEY */
  border-radius: 0px;
  box-shadow: 0px 1px 0px gray;
  float: right;
  margin-left: 2em;
  margin-bottom: 1em;
  background: transparent;
  border: none;
  outline: none;
}
.profile-language { /* PROFILE MIKEY */
  margin-bottom: 2em;
  float: right;
}
.profile-save-details { /* PROFILE MIKEY */
  padding: 5px 0px;
  margin-top: 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: white;
  background-color: lightblue;
}
.english { /* PROFILE MIKEY */
  float: right;
  margin-right: 10px;
}

/* profile hover */

.profile-save-details:hover {  /* PROFILE MIKEY */
  background-color: gray;
  transition: ease 0.5s;
}
.profile-update:hover { /* PROFILE MIKEY */
  color: lightblue;
  transition: ease 0.5s;
}
.profile-logout:hover { /* PROFILE MIKEY */
  color: lightpink;
  transition: ease 1s;
}

/*Tooltip*/

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 10px;
  width: 70px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  bottom: 65%;
  left: 0%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Info page */

#infoPage { /* PROFILE */
  width: 30%;
  height: 30%;
  position: fixed;
  padding: 25px 0px 10px 0;
  /*top: -120%;*/ /* hides the profile modal */
  top: 30px; /* shows the profile modal */
  left: 0px;
  background-color: grayscale;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: -1px 1px 80px -40px #0D1321;
  transition: top ease 0.5s;
  z-index: 11;
}
.modal-body-info {
  display: fixed;
  left: 100px;
}
.modal-info-title {
  color: white;
  margin:0px 0px 0px 0px;
  display: block;
  text-align: center;
}
.modal-info-creators {
  color: lightgray;
  margin-top: 0px;
}
.modal-info-creators { /*Powered by the Nine: Saadia Brahimi, Cali Armut, Laurent Hulstaert, Alexandre Ntougas, Michaël Tolis, Bertrand Honner, Yadrichnikov Nikolaï, Prince-kombo Bontala, Thomas Bouchard*/
  text-align: center;
}
.version {
  font-size: 14px;
}
/*.panel { /*Value of the modal if necessary
  position: absolute;
  border-radius: 15px;
  width: 55%;
  height: 15%;
  left: 22%;
}
*/
.modal-info-link {
  display: block;
  text-align: center;
  color: white;
  margin-right: 5px;
  text-decoration: none;
}
.modal-info-link:hover {
  text-decoration: line-through;
}



/*.answer-template-trigger {
  right: -20px !important;
}*/








/* INPUTS in PROFILE */

.input-wrapper label {
  font-family: courier new;
  color: #bbb;
  font-size: 0.8rem; /* originally 11px */
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  /*left: 20px;*/
  /*left: -50px;*/ /* change this to align placeholder */
  top: 14px;
  padding: 0 2px;
  pointer-events: none;
  /*background: #fff;*/
  -webkit-transition: -webkit-transform 100ms ease;
  -moz-transition: -moz-transform 100ms ease;
  -o-transition: -o-transform 100ms ease;
  -ms-transition: -ms-transform 100ms ease;
  transition: transform 100ms ease;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}
input {
  font-size: 0.8rem; /* originally 13px */
  color: white;
  background-color: #232323;
  outline: none;
  border: none;
  border-bottom: 1px #555 solid;
  padding: 10px 0px;
  position: relative;
  width: 100%; /*originally 9rem*/
}
#message{
  line-height: 140%; /* change between em, px, % and auto to see difference */
}
input:invalid + label {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
input:focus {
  border-color: #44ffdc; /* originally #2b96f1 */
}
input:focus + label {
  color: pink; /* originally #2b96f1 */
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}















/*
//////////////////////////////////////////////////////////////////////
MIKEY
//////////////////////////////////////////////////////////////////////
*/




/*Contain particle (background-animation.js)*/
#canvas {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/*Box windows Terminal*/
.terminal {
  position: fixed;
  bottom: -100%; /*hide the box before the animation*/
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgba(30, 60, 90, 0.6); to test aspect terminal #0C0221 */
  /*background-color: #57759f9e;*/
  width: 75%;  /*default ratio to keep*/
  height: 85%;  /*Change the height to resize the box or proceed to animation*/
  border-top-left-radius: 10px;  /*Header of the terminal radius border set to 10px*/
  border-top-right-radius: 10px;
  /*margin-left: 22.5vw;
  margin-right: 22.5vw;*/
  /*top: 700px;  Push by default the terminal on a middle position*/
  /*box-shadow: inset 0px 40px 15px 0px #0D1321;*/
  transition: width ease 0.2s, margin ease 0.2s, top ease 0.2s;
  z-index: 0;
  font-weight: 300;
  font-size: 18px;
}

/*White bar on top of the Terminal*/
.terminal-header {
  /*background-color: #a0b8d8;*/
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*Terminal-button container*/
.terminal-header-btn {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  margin-right: 0px;
  display: none;
}
/*Terminal-button container*/
.terminal-header-item {
  position: absolute;
  display: inline;
  padding-top: 8px;
  padding-right: 0px;
  right: 10px;
}

#window-name {
  position: absolute;
  font-size: 18px;
  margin-left: 15px;
  margin-top: 5px;
  color: #0D1321;
}

.minimize { /*Minimize button*/
  background-color: orange;
  box-shadow: inset 0px 0px 5px 2px #E8600C;
}

.maximize { /*Maximize button*/
  background-color: #2C9DC9; /* If minimize active set to green */
  box-shadow: inset 0px 0px 5px 2px #000F42;
}

.close {  /*Close button*/
  background-color: red;
  box-shadow: inset 0px 0px 5px 2px #2B030F;
}

.fa-terminal {
  position: absolute;
  color: black;
  left: 5px;
  bottom: 9px;
}

/*------------------------
button hover state
--------------------------*/

.minimize:hover {
  background-color: lightyellow;
}

.maximize:hover {
  background-color: lightblue; /*if minimize active set to lightgreen */
}

.close:hover {
  background-color: orange;
}

button {
  border-width: 0px;
  border-style: none;
}

button:focus {  /* Avoid blue line on click by default on custom button in Crome*/
  outline: 0;
}

/*-------------------------------------
Terminal Content
---------------------------------------*/

.terminal-content { /*Container for content (input / output display*/
    padding: 0px 15px 0px 15px;
    min-height: 45vh;
    max-height: 70%;
    overflow: auto;
}
.terminal-content .message {
    display: none;
}
@media screen and (min-width: 640px) {
  .terminal-content .message {
    display: block;
  }
}

/*--------------------------------------
Custom scroll
----------------------------------------*/
.customScroll {
    border: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px white;*/
    /*border: 1px solid rgba(255,255,255,0.3);*/
    border: 1px solid rgba(231, 231, 231, 0.68);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    /*background: rgba(255,255,255,0.2);*/
    background: rgba(231, 231, 231, 0.68);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,1);
}

/*--------------------------------------
Terminal interaction /Text/
----------------------------------------*/

.instruction {
    padding-bottom:10px;
}

.request {
  padding-left: 20px;
}
.user-request:first-type{
  display: none;
}
/*.user-request .user {
    display: inline-block;
    color: rgba(255,66,64,1);
}*/
/*.user-request .symbol {
    display: inline-block;
    margin:0px 6px 0px 2px;
}*/
.answer {
    color: #7cf4ff;
    margin-top: 15px;
}
.answer a {
    color: white;
}
.answer a:hover {
    text-decoration: underline;
}
.answer::before {
    content:'>';
    display: inline-block;
    padding-right: 5px;
}
.user-request .user-input {
    min-width: 10px;
    display: inline-block;
}
.user-request .user-input:focus {
    outline: 0px;
}
.user-request .terminal-symbol {
    font-size: 120%;
    font-weight: bold;
    animation: blink .5s ease-in-out;
    animation-iteration-count: infinite;
}
.terminal-control {
  margin-left: 20px;
}

/*----------------------------------------
Os-bar
------------------------------------------*/

.os-bar {
  text-align: right;
  font-size: 22px;
  position: fixed;
  display: block;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  padding:7px 0px;
  top: 10px;
  color:rgba(255,255,255,.9);
  /*background-color: rgba(39,64,96,.5);*/
  border-radius: 10px;
}

.os-bar__windows-item {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 25px;
  width:20%;
  max-width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 2px;
  color:rgba(255,255,255,1);
  margin:0px 5px;
}

.os-bar__date-time {
  position: absolute;
  display: block;
  justify-content: left;
  align-items: left;
  right: 50px;
  width:120px;
  height: 100%;
  text-align: left;
  font-size: 1em;
  font-weight: 100;
}

/*---------------------------------------
Login
-----------------------------------------*/

#login-interface {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-interface .container-login {
  width: 600px;
  text-align: center;
  padding: 100px 0;
  border-radius: 10px;
}

#login-interface .welcome {
  font-weight: 100;
  font-size: 2rem;
  color: white;
}

#login-interface .google-button {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 60px;
  margin-top: 80px;
}

#login-interface .google-button-block {
  width: 354px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
}

#login-interface .logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
}

#login-interface .logo img {
  height: 34px;
  padding-left: 12px;
  padding-right: 12px;
}

#login-interface .call-to-action {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #7968ff;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}

#login-interface .call-to-action span {
  position: relative;
  pointer-events: none;
}

#login-interface .call-to-action::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #6bfff4, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}

#login-interface .call-to-action:hover::before {
  --size: 400px;
}

#login-interface .g-signin2 {
  width: 120px;
  margin: auto;
}


/*---------------------------------------
Keyframes for animation
-----------------------------------------*/

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
