RewriteEngine On
Options -MultiViews
RewriteBase /

#########
# HTTPS #
#########

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.dorothycares.io/$1 [R=301,L]

##################
# Security check #
##################

RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Block out any script trying to base64_encode crap to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Block out any script that includes a <script> tag in URL
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage with 403 Forbidden error!
RewriteRule ^(.*)$ index.php [F,L]

##########
# Routes #
##########

#RewriteRule ^api/coach/$ api/user.php?type=coachUser [L,QSA]
RewriteRule ^api/user/([a-zA-Z0-9]+)/([^/]*)/coach/$ api/user.php?emailUser=$2&tokenUser=$1&type=coachUser [L,QSA]
RewriteRule ^api/user/([a-zA-Z0-9]+)/([^/]*)/implantation/$ api/user.php?emailUser=$2&tokenUser=$1&type=implantationUser [L,QSA]
RewriteRule ^api/user/([a-zA-Z0-9]+)/([^/]*)/startup/$ api/user.php?emailUser=$2&tokenUser=$1&type=startupUser [L,QSA]
