.pagination {
  display: flex;
  justify-content: center;
}

.addButtonContainer {
  display: inline-block;
  position: fixed;
  right: 4.5vw;
  top: 7vh;
}

.tempSelect {
  display: table-cell;
  height: inherit;
}

i.red-text {
  font-size: 30px;
}
